html, body {
	height: 99%;
}

.container {
	width: 90%;
	height: 100%;
	margin: auto;
	min-width: 800px;
	max-width: 1200px;
	background: #FFCE00;
}

.left-col {
	float: left;
	width: 70%;
	height: 100%;
	
	background: #BFA430;
}

.right-col {
	float: right;
	width: 30%;
	height: 100%;
	
	background:;
}

.content {
	width: 100%;
	height: 100%;
	
	background:;
}

.task {
	width: 100%;
	height: 30%;
	
	border: 1px dashed black;
}

.taskInfo {
	width: 100%;
	height: 10%;
}

.taskBody {
	width: 100%;
	height: 75%
}

.taskUsername {
	float: left;
	height: 100%;
}

.taskMail {
	float: right;
	height: 100%;
}

.taskImage {
	float: left;
	height: 100%;
	width: 40%;
	min-width: 320px;
	min-height: 240px;
	
	background: gray;
}

.taskText {
	float: right;
	width: 57%;
}


